@import url('https://fonts.googleapis.com/css2?family=Lato&family=Red+Hat+Display:wght@400;500;600&display=swap');

// variables

$font-primary: 'Red Hat Display', sans-serif;
$font-secondary: 'Lato', sans-serif;

$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #565656;
$color-grey-light: #7B7B7B;
$color-white-grey: #F4F4F4;


