@import "./reset";
@import "./fonts";
@import "./variables";
@import "./typography";

* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    margin: 0 auto;
    background: $color-white;
    color: $color-grey;
    font-family: $primary-text;
    font-size: $default-font-size;
    font-weight: 400;
}

.wrapper {
    max-width: $max-content-width;
    padding: 0 10px;
    margin: 0 auto;

    @media screen and (min-width:$tablet) {
        padding: 0 35px;
    }
}



.icon-burger {
    width: 32px;
    height: 20%;
    color: $color-black-default;
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hash {
    letter-spacing: 0.1em;
    color: $color-grey-light;
}

.data {
    letter-spacing: 0.1em;
    color: $color-grey-light;
}