@import "./reset";
@import "./fonts";
@import "./variables";
@import "./typography";

body {
    min-width: 320px;
    margin: 0 auto;
    background: $color-white;
    color: $color-grey;
    font-family: $primary-text;
    font-size: $default-font-size;
}

.wrapper {
    max-width: $max-content;
    padding: 0 10px;
}

