.title {
    font-family: $primary-title;
    color: $color-black-default;

    &__banner {
        font-weight: 600;
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 0.05rem;
        width: 100%;
        max-width: 500px;

        @media screen and (min-width:$tablet) {
            max-width: 600px;
            font-size: 36px;
        }

        @media screen and (min-width:$desktop) {
            max-width: 770px;
            font-size: 48px;
            line-height: 64px;
        }
    }
}

.subtitle {
    font-family: $primary-title;
    font-size: $font-size-title;
    font-weight: 500;
    line-height: 36.52px;
    letter-spacing: 0.1em;
    color: $color-black-default;

    @media screen and (min-width:$tablet) {
        font-size: $font-size-tablet;
        line-height: 38.18px;
    }
}

.description {
    letter-spacing: 0.05em;
    line-height: 26.56px;
}