.banner {
    background-image: url(../../img/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vw;
    min-height: 500px;
    padding: 70px 10px 10px;

    @media screen and (min-width:$tablet) {
        padding: 70px 35px 10px;
        height: 42vw;
        min-height: 320px;
        background-image: url(../../img/bg-image2.png);
    }

    @media screen and (min-width:$desktop) {
        padding: 100px 135px 10px;
        height: 42vw;
        min-height: 600px;
        background-image: url(../../img/bg-image2.png);
    }
}