.blog {
    margin-top: 70px;

    &__title {
        font-size: 48px;
        letter-spacing: 0.05rem;
        text-align: center;
    }

    &__article {

        &-hash {
            margin: 50px auto 30px;
        }

        &-title {
           
        }

        &-data {
            margin: 10px 0 40px;
        }

        &-text {
           
        }

        &-img {
            display: block;
            width: 100%;
            margin: 37px auto 0;
        }
    }
}