.footer__info {
   text-align: center;

    &-title {
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0.05em;
        margin-top: 50px;
    }

    &-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}