.copyright {
    max-width: 75%;
    margin: 0 auto;

    &__text {
        text-align: center;
        font-size: $default-font-size;
        line-height: 26.56px;
        letter-spacing: 0.1em;
        color: $color-black-default;

        &::before {
            content: '\00a9';
        }

        @media screen and (min-width:$tablet) {
            font-size: 12px;
            line-height: 20px;
        }
    }
}