.info {
    margin-top: 70px;

    &__title {
        font-family: $primary-title;
        font-weight: 400;
        font-size: 24px;
        line-height: 39.84px;
        letter-spacing: 0.1em;
        color: $color-black-default;
        margin-bottom: 15px;

        @media screen and (min-width:$tablet) {
            font-size: 23px;
            line-height: 38px;
        }
    }

    &__text {
        margin: 35px 0 70px;

        @media screen and (min-width:$tablet) {
            text-align: end;
            max-width: 75%;
            margin-left: auto;
            font-size: 19px;
        }
    }
}