.block__nav {
    display: none;

    @media screen and (min-width:$desktop-small) {
        display: flex;
        align-items: center;
        margin-left: auto;

        &-list {
            display: flex;
            align-items: center;

            &-item {

                &:not(:first-child) {
                    margin-left: 42px;
                }
            }

            &-link {
                position: relative;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.3em;
                text-transform: uppercase;
                color: $color-black-default;

                &::after {
                    display: block;
                    content: "";
                    width: 70%;
                    height: 1px;
                    position: absolute;
                    left: 50%;
                    transition: all .5s ease-in-out;
                    transform: translate(-50%) scale3d(0,1,1);
                    bottom: -10px;
                    background: $color-black-default;
                }

                &:hover {

                    &::after  {
                        transform: translate(-50%) scale3d(1,1,1);
                    }
                }
            }
        }
    }
}