.posts {
    margin-top: 70px;

    &__heading {

        &-title {
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.05em;
        }

        &-link {}
    }
}

.section {
    margin-bottom: 50px;

    &__block {

        &-img {
            width: 100%;
            margin: 30px auto 25px;
            display: block;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin: 25px auto 20px;
    }
}