.latest {
    margin-top: 70px;

    &__heading {
        margin-bottom: 50px;

        @media screen and (min-width:$tablet) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-title {
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.05em;

            @media screen and (min-width:$tablet) {
                line-height: 46.48px;
            }
        }
    }

    &__container {

        @media screen and (min-width:$desktop) {
            display: flex;
            justify-content: space-between;
        }
    }
}

.posts {
    margin-bottom: 30px;

    @media screen and (min-width:$tablet) {
        display: flex;
        justify-content: space-between;

        @media screen and (min-width:$desktop) {
            width: 31%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &-inner {
        @media screen and (min-width:$tablet) {
            flex-direction: row-reverse;
        }

        @media screen and (min-width:$desktop) {
            flex-direction: column;
        }
    }

    &__block {
        @media screen and (min-width:$tablet) {
            width: 48%;
        }

        @media screen and (min-width:$desktop) {
            width: 100%;
        }

        &-img {
            width: 100%;
            display: block;
        }
    }

    .section {
        margin-top: 30px;

        @media screen and (min-width:$tablet) {
            width: 48%;
            margin: 0;
        }

        @media screen and (min-width:$desktop) {
            width: 100%;
        }

        &__info {
            display: flex;
            justify-content: space-between;

            @media screen and (min-width:$desktop) {
                margin-top: 25px;
            }
        }

        &__title {
            margin: 25px auto 20px;
        }
    }
}