.posts {
    margin-top: 70px;

    .posts__heading {

        .posts__heading-title {
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.05em;
        }

        .posts__heading-link {
            line-height: 26.56px;
            letter-spacing: 0.1em;
            color: $color-grey-light;
        }
    }
}

.section {

    .section__block {

        .section__block-img {
            
        }
    }
}

