.search {
    display: flex;
    align-items: center;
    margin-left: 84px;

    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;

        &-search {
            width: 20px;
            height: 20px;
            color: $color-black-default;
        }
    }
}

