.popular {

    &__heading {


        &-title {
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.05em;
        }
    }

    &__container {}

}

.sections {

    &__block {

        &-img {
            width: 100%;
            margin: 30px auto 22px;
            display: block;
        }

    }

    &__info {
        display: flex;
        justify-content: space-between;

        &-hash {}

        &-data {}
    }

    &__title {
        margin-top: 12px;
    }

    &__text {
        margin-top: 10px;
    }
}


.popular__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.05em;
}