.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 46px;
    margin:50px auto 0;
    border: none;
    background: $color-grey;
    font-weight: 700;
    line-height: 26.56px;
    letter-spacing: 0.1em;
    color: $color-white;
    cursor: pointer;

    &:hover {
        background: $color-black-default;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }
}

.search__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}
